div {
    width: 100px;
    height: 100px;
    background: rgb(182, 75, 75);
    transition: width 2s linear 1s;
  }
  
  div:hover {
    width: 300px;
  }

  .rotate {
    width: 300px;
    height: 100px;
    background-color: rgb(255, 0, 183);
    border: 1px solid black;
  }
  
  div#myDiv {
    transform: rotate(40deg);
  }
  div {
    width: 300px;
    height: 100px;
    background-color: rgb(0, 136, 255);
    border: 1px solid black;
  }
  
  div#myDiv1 {
    transform: matrix(1, -0.3, 0, 1, 0, 0);
  }
  
  div#myDiv2 {
    transform: matrix(1, 0, 0.5, 1, 150, 0);
  }